<section id="brands">
    <div class="wrapper">
    <div class="cp-brands-banner">
    <ul class="cp-brands-list">
      <li class="cp-brand-item" id="illumipure">
        <a class="cp-brand-link " href="/">
          <img src="https://s3-us-west-2.amazonaws.com/cbi-image-service-prd/modified/0b7db9e6-72c6-49c1-8b6f-bf7a8bc520db.png" alt="illumipure" title="Illumipure">
          </a>
      </li>
      
      <li class="cp-brand-item" id="eagle">
        <a class="cp-brand-link " href="/">
          <img src="https://cdn.shopify.com/s/files/1/1249/3023/files/Eagle_Logo_no_box_-_RGB_ca19918b-8f56-4fc0-97ff-9dfee2fb64e7.png?v=1608665638" alt="Eagle" title="Eagle">
          </a>
      </li>
      
      <li class="cp-brand-item" id="trusafe">
        <a class="cp-brand-link " href="/">
          <img src="assets/img/trusafe.JPG" alt="trusafe" title="TruSafe">
          </a>
      </li>
      
      <li class="cp-brand-item" id="made for us">
        <a class="cp-brand-link " href="/">
          <img src="assets/img/forus.JPG" alt="madebyusmadeforus" title="Made by US Made for US">
          </a>
      </li>
      
      <li class="cp-brand-item" id="masc">
        <a class="cp-brand-link " href="/">
          <img src="https://cdn.shopify.com/s/files/1/0262/7026/9489/files/MASC-Underwear-Logo-Master-B_2932x.png?v=1625400348" alt="masc" title="Masc">
          </a>
      </li>
      
      
      <li class="cp-brand-item" id="centerforgreenschools">
        <a class="cp-brand-link " href="/">
          <img src="https://www.centerforgreenschools.org/sites/default/files/cfgs-logo.png" alt="centerforgreenschools" title="Center for Green Schools">
          </a>
      </li>
    
    </ul>
  </div>
    </div>
  </section>