<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="../../../../../assets/img/about.jpg" alt="trucleanz ">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">About Us</span>
                        <h2 class="title">TruCleanz Distribution Inc.</h2>
                    </div>
                    <p class="mb-25">
                        A native american and veteran owned company continues to source the finest products to offer confidence in reopening and remaining operational. 
                        With personal protective equipment (PPE) continuing to be part of our daily routine the need to trust the products becomes vital to our health
                    </p>
                    <p>
                        The other key trust component we offer to establishments is the products, equipment, and services to clean, disinfect and sanitize the space, furnishings, and more importantly the air quality.
                    </p>
                    <a routerLink="/about" class="main-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>