<div class="postscript">
    <p>
        For Additional Details and Product RFQ simply click on the item and indicate the QTY your organization is requesting and a TruCleanz customer service team member will send a customized quote for your specific organization based on class of trade and estimated volume needed.
    </p>
</div>
<section class="shop-page-wrap section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 order-1">
                <div class="row shop-top-bar justify-content-between">
                    <div class="col-lg-3 col-6 col-tiny-12">
                        <div class="product-search">
                            <form>
                                <input type="search" placeholder="Search Keywords">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-tiny-12">
                        <div class="product-shorting">
                            <select>
                                <option value="0" selected>Sort by</option>
                                <option value="1">Deafult</option>
                                <option value="2">By Name</option>
                                <option value="3">By Price</option>
                            </select>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-lg-3 col-md-10 order-3 order-lg-2">
                <app-shopsidebar></app-shopsidebar>
            </div>
            <div class="col-lg-9 order-2 order-lg-2">
                <div class="product-loop row">
                    <div class="col-lg-4 col-sm-6" *ngFor="let item of shopblock | paginate: { itemsPerPage: 6, currentPage: page }">
                        <div class="single-product">
                            <div class="product-img">
                                <img a routerLink="/product-details/{{item.id}}" [src]="item.image[0]" [alt]="item.title">
                            </div>
                            <div class="product-desc">
                                <h5 class="title"><a routerLink="/product-details/{{item.id}}">{{item.title}}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination justify-content-center">
                    <pagination-controls (pageChange)="page = $event" responsive="true"
                    previousLabel="<"
                    nextLabel=">"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>