<section class="faq-section section-gap">
    <div class="container">
        <!-- FAQ Page Title -->
        <div class="row faq-page-title mb-60 align-items-center">
            <div class="col-lg-6">
                <div class="section-title left-border">
                    <span class="title-tag">FAQ</span>
                    <h2 class="title">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
        <!-- FAQ LOOP -->
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion faq-loop grey-header"
            id="faqAccordion">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    How can I order from TruCleanz Distribution?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Trucleanz Distribution sells wholesale to Industrial/Commercial and retail partners. We currently do not
                    sell direct to consumers but have some of our products may be available at online retailers or Shopify
                    Stores. If you would like to carry our products, please complete a RFQ on our Product Details Page.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    Is TruCleanz Distribution Inc considering a minority owned business?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Yes, TruCleanz Distribution majority owner is a Native American and a US Veteran.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3">
                <ng-template ngbPanelTitle>
                    What is the Buy Indian Act?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Federal preference for purchase of Native American goods and services started with the passage of the
                    Indian Appropriations Act of 1886 but was not incorporated into a permanent authorizing statute until
                    1910. <br><br>
                    Loans from the SBA for businesses also states that funds should be used to buy Made in USA whenever
                    possible.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-4">
                <ng-template ngbPanelTitle>
                    What is the difference of Made in USA, Made in USA with imported components?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Both designations distinguish that most of the product’s value is derived from the cost of it being
                    manufactured in the USA. For example, in our Hand Sanitizer the bottles, labels, the proprietary alcohol
                    used, and formulations are made in the USA, however, some ingredients are not available in the USA
                    and the pumps are at an extreme shortage due to the pandemic. Whenever possible our suppliers try
                    to source all the components and several of them have had all the equipment that makes these
                    products also manufactured here in the USA.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-5">
                <ng-template ngbPanelTitle>
                    What is a N95 mask?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    The N 95 mask is made to a pass a specific set of tests and criteria. Until the pandemic caused shortages
                    the KN95 and other masks where not imported to the USA because they did not meet the standards set
                    out by the National Institute Occupational Safety Hazards NOISH. All our masks are made in the USA
                    and our Kids masks are made with All USA manufactured fabrics.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-6">
                <ng-template ngbPanelTitle>
                    Clarifying some confusion on Masks:
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Surgical Style masks, these are predominantly the blue style masks. But there is a difference between
                    Surgical Style and Surgical Mask. All our Blue standard size masks are FDA cleared and meet the ASTM
                    2100 level 3 designation. Basically, meaning they filter over 98% of Bacterial Filtration and 98% of
                    Particle Filtration but have a Breathability rating of very breathable. <br><br>
                    Our Black Masks meet all the same criteria but have not been submitted to the FDA since most medical
                    facilities prefer the blue masks. <br><br>
                    Our Kids size mask again meet all the testing criteria and are simply a smaller size and have not been
                    submitted to the FDA for use in a surgical environment because most children are not required to work
                    in hospitals at this time given our child labor laws. But rest assured they would pass he tests needed.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-7">
                <ng-template ngbPanelTitle>
                    What is a USA95 Mask?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    It is the same as the Niosh N95 mask except is does not have the NIOSH Stamp. This mask was made
                    for the general public because our NIOSH N95 masks were restricted for sale only to the medical sector. <br><br>

                    We keep making NiOSH and USA95 masks to offer the entire USA one of the most vigorously tested and
                    premium respirators available for your safety.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-8">
                <ng-template ngbPanelTitle>
                    Why are Nitrile Gloves made in the USA such a big win for the USA?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Up till now there was only 1 factory making medical grade gloves in the USA. This was primarily because
                    of the amount of water needed to make the gloves and the wastewater regulations made making gloves
                    in the USA cost prohibitive. Also, the machines to make these gloves were just too big to ship to the
                    USA to begin making gloves here. <br><br>
                    Our supply partner USMG United States Medical Glove Corp met the challenge of solving not only the
                    wastewater problem, but the size of the machines and efficiency. USMG is also proud to note that the
                    entire machine design, development, as well as every component used to make the gloves in the USA is
                    made on these machines that were made in the USA.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-9">
                <ng-template ngbPanelTitle>
                    What is HEPA Air Filtration and why is Air Sanitizing better?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Hepa is a rating on the filter that are used to trap the particles. Hepa Rated filters are made to trap
                    particles up to 3 microns large. The test results stated usually of 99% efficient means that the particles
                    of that size have been virtually reduced after the air was passed through the filter up to 3 times. <br><br>
                    Air Sanitizing is the Illumipure method of Killing the virus and germ particle regardless of size after a
                    single pass through the Air Guardian chamber.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-10">
                <ng-template ngbPanelTitle>
                    What size Air Guardian is needed?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Each air guardian unit is designed to handle the air in a 10 x 10 x 10 volume room every 11 minutes.
                    Meaning that the air is cleaned around 6 times and hour.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-11">
                <ng-template ngbPanelTitle>
                    Why is Disinfectant on Demand considering a Green Cleaning Solution?
                    <span class="icons">
                        <i class="far fa-plus"></i>
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Hypochlorous Acid or HOCL is electronically charged salt water. HOCL is naturally found in our bodies
                    and are used to fight off infection. This Safe Effective Non-Toxic Disinfectant and Sanitizer has been
                    identified as a useful cleaning agent and sanitizer. The US Environmental Protection Agency (EPA) lists it
                    as a disinfectant effective against COVID-19, backed by clinical studies.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <!-- End Faq LOOP -->
    </div>
</section>