<section class="video-section bg-img-c section-gap" style="background-color: #39434b;">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
                <div class="video-text">
                    <div class="section-title left-border mb-30">
                        <span class="title-tag">Our Videos</span>
                        
                    </div>
                    <p>
                        <b>TruCleanz Distribution Inc.</b> is focused on the distribution of the revolutionary industry disinfectant and deodorizer solution, D7. In addition, we provide products and solutions that are complementary to the industry of protecting our food supply chain via biosecurity.
                    </p>
                    <a routerLink="/portfolio" class="main-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-3 col-lg-4 col-md-2 order-1 order-md-2">
                <div class="video-btn text-md-center">
                    <a class=" popup-video">
                        <iframe width="700" height="420" src="https://www.youtube.com/embed/NpEaa2P7qZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="line-shape">
        <img src="#" alt="" style="background-color: #d1d9e1;">
    </div>
</section>